<h3>ForkJoin Operator</h3>
<hr />
<div>
    <p>Accepts an Array of ObservableInput or a dictionary Object of ObservableInput and returns an Observable that
        emits
        either an array of values in the exact same order as the passed array, or a dictionary of values in the same
        shape
        as the passed dictionary.</p>
    <hr />
    <strong>Input:</strong><button class="btn btn-primary" (click)="onClickForkJoinOperator()">ForkJoin</button>
</div>
<strong>Output:</strong>{{output}}