<div class="bg-primary d-flex" style="color: white;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV21EQOSpiXbYBvZDY72xz0omcR-gttJhlXp1jNlMKOw&s"
        height="50px" width="50px" alt="logo">
    <h2>RxJS</h2>
</div>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a>
    <a *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link">{{ menuItem.label }}</a>
</div>
<div id="main">
    <button class="openbtn" (click)="openSidebar()" id="button">&#9776;</button>
</div>
<router-outlet />